<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Excamera Demo</title>
    </head>

    {% load static %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      video {
	margin-left: auto;
        margin-right:auto;
        width: 640px;
        height: 360px;
      }
     .advancedSearchTextbox {
        width: 526px;
        margin-right: -4px;
     }
     .scrollabletextbox {
    	height:400px;
    	width:1200px;
    	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    	font-size: 82%;
    	overflow:scroll;
     }
     .top-buffer { 
	margin-top:20px;
     }
    </style>

    <body>

    <form class="container" id="my_form" name="my_form" action="call_mu/" method="post">
	<h2> <span class="label label-primary"> Excamera Demo </span> </h2>
        <h4> 
		<span> 
			Enter URL of the video. Wait till the operation is complete.
		</span>
	</h4>

	<div class="form-group">
  		<label>Video URL:</label>
  		<input type="text" class="form-control" id="video_url" name="video_url"
		       placeholder="https://www.youtube.com/watch?v=qR5vOXbZsI4">
	</div>

	<div class="dropdown row top-buffer">
    		<button class="btn btn-primary dropdown-toggle" 
			type="button" data-toggle="dropdown" id="operator">Operator
    		<span class="caret"></span></button>
    		<ul class="dropdown-menu">
      			<li><a href="#">GrayScale</a></li>
    		</ul>
	</div>

	<div class="dropdown row top-buffer">
		<button class="btn btn-primary dropdown-toggle"
			type="button" data-toggle="dropdown" id="video_name">Sample Video
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                        <li><a href="#">Sintel</a></li>
                </ul>
        </div>

	<div class="container row top-buffer">
		<input class="btn btn-primary"
	       		name="execute_np"
	       		id="execute_np"
	       		type="submit"
	       		value="Run, Lambda, Run!"/>
	</div>

    <div id="video_delivery" class="container row top-buffer">
        	<video id="videoPlayer1" controls>
			</video>
			<video id="videoPlayer2" controls>
            </video>
            <p><p>
    </div>

	<textarea class="scrollabletextbox" id="logfile" name="logfile" value="">The log of the controller appears here</textarea>

	{% load static %}
	<script type="text/javascript">
    	$(document).ready(function() {
            $("#execute").click(function(e) {
                e.preventDefault();
                var video_url = document.getElementById("video_url").value;
                $.ajax({
                        type: "POST",
                        url: "call_mu_stub/",
                        data: {
                                url: video_url
                        },
                        success: function(data) {
                                var input_url = "http://dash.edgesuite.net/envivio/EnvivioDash3/manifest.mpd";
                                console.log(input_url);
                                var output_url = "static/output/00000001_dash.mpd"
                                var oplayer = dashjs.MediaPlayer().create();
                                oplayer.initialize(document.querySelector("#videoPlayer1"), output_url, true);
                        }
                });
                e.preventDefault();
                return false;
            });

	    $("#execute_np").click(function(e) {
		console.log("Button clicked!");
		e.preventDefault();

		var video_url     = document.getElementById("video_url").value;
		var timestamp  = Date.now();
		var logfile    = "static/log/log_" + timestamp;
		var video_name = document.getElementById("video_name").value;
		var op         = document.getElementById("operator").value;

    		$.ajax({
			type: "POST",
			url: "call_mu/",
			data: {
				url: video_url,
				log: logfile,
				video: video_name,
				operator: op
			},
			success: function(data) {
				var output_url = data.mpd_url;
                                var oplayer = dashjs.MediaPlayer().create();
                                oplayer.initialize(document.querySelector("#videoPlayer2"), output_url, true);
			}
     		});
		e.preventDefault();
    		return false;
  	    });

	    function getLog(logfile) {
    		$.ajax({
        		url: logfile,
        		dataType: 'text',
        		success: function(text) {
            			$("#logfile").text(text);
            			setTimeout(getLog, 1000); // refresh every 1 second
        		}
    		})
	    }
    	});
        </script>
    </form>
    </body>
</html>
